@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root{
    --red-primary-color: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
    --white: #fff;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-family-barlow-condensed: 'Barlow Condensed';
    --font-family-barlow: 'Barlow';

}
html{
    overflow-x: hidden;
}
body, ul, li, p, a{
    font-size: 18px;
    font-family: var(--font-family-barlow);
    font-weight: var(--font-weight-400);
    list-style: none;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
h1, h2,h3,h4,h5,h6,
li{
    font-family: var(--font-family-barlow-condensed);
    font-weight: var(--font-weight-700);
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
h1, span, button{
    text-transform: uppercase;
}
p{
    color: var(--grayish-blue);
    font-family: var(--font-family-barlow);
}
/* ------------------------------------------------- */
/* MENU */
.logo{
    width: 25px;
    height: 25px;
}
.hamburger-toggle{
    display: none;
}

.nav{
    display: flex;
    flex: wrap;
    justify-content: space-between;
    padding: 24px 14%;
}

.nav-list ul li {
    color: var(--very-dark-blue);
    display: inline;
    padding: 0 20px;
}

.login{
    color: var(--grayish-blue) !important;
    padding-right: 0px !important;
    padding-left: 0 !important;
}

.login::before{
    background-color: var(--grayish-blue);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-right: 20px;
    margin-bottom: 1%;
}
.nav li:hover{
    text-decoration: underline;
}

/* ------------------------------------------------- */
/* CONTENT */

.content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: "tc tc tc ic ic ic";
    margin-top: 135px;
}
.bg{
    background-color:var(--light-grayish-blue);
    left: 50%;
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 425px; 
    border-bottom-left-radius: 50px;
}
.img-content{
    grid-area:ic;
    z-index: 1;
    position: relative;
}
.img-content > img{
    width: 62rem;
}
.text-content{
    grid-area: tc;  
    padding-left: 28%;
    margin-top: 55px;
    z-index: 1;
    position: relative;
}

.text-content > h1{
    padding-right: 20%;
}
.tag-new{
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 5px 13px;
    border-radius: 24% 24% 24% 24% / 50% 50% 50% 50%;
    font-weight: var(--font-weight-700);
}
.text-grey-space{
    color: var(--grayish-blue);
    font-size: 15px;
    letter-spacing: 3px;
    padding-left: 15px;
}
.btn-red{
    background-color: var(--red-primary-color);
    border-radius: 5px;
    color: var(--white);
    padding: 19px 32px;
    margin-top: 65px;
    font-family: var(--font-family-barlow-condensed);
    font-weight: var(--font-weight-700);
} 


/* ------------------------------------------------- */
/* footer */
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(246, 20%, 36%);
    font-size: 13px;
}
footer{
    margin: 5% 0 5%;
}


/* --------------------------------------------------- */
/* Tablet */
@media( max-width:530px){
    .nav {
        padding: 24px 7%;
    }
    .nav-list ul li {
        padding: 0 10px;
    }
}





/* --------------------------------------------------- */
/* Mobile */
@media(max-width: 475px){
    body{
        overflow-x: hidden !important;
    }
    
    .nav{
        padding: 24px 32px;
    }
    .nav-list ul{
        display: none;
    }
    .hamburger-toggle{
        display: inline-block;
        vertical-align: middle;
    }
    .bg{
        height: 50%;
    }
    .content{
        display:flex;
        flex-wrap: wrap;
        margin-top: 65px;
    }
    .img-content{
        order: 1;
    }
    .img-content > img{
        width: 30rem;
    }
    .text-content > h1{
        padding-right: 5%;
        font-size: 40px;
    }
    .text-content > p{
        padding-right: 15%;
    }
    
    .text-content{
        order: 2;
        padding-left: 35px;
        margin-top: 90px;
    }
    .btn-red{        
        padding: 10px 20px;
        margin-top: 65px;
    }
}

@media(min-width:475px) and (max-width:1040px){
   
    .img-content{
        text-align: right;
    }
    .img-content > img{
        width: 50rem;
    }
    .text-content{
        order: 2;
        margin-top:auto;
    }
    .btn-red{
        margin-top: 5%;
    } 
    h1{
        margin: 5% auto;
    }
}