@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');

:root{
    --red-primary-color: hsl(0, 100%, 68%);
    --very-dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
    --white: #fff;
    --font-weight-400: 400;
    --font-weight-700: 700;
    --font-family-barlow-condensed: 'Barlow Condensed';
    --font-family-barlow: 'Barlow';

}
body, ul, li, p, a{
    font-size: 18px;
    font-family: var(--font-family-barlow);
    font-weight: var(--font-weight-400);
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    border: none;
}
h1, h2,h3,h4,h5,h6,
li{
    font-family: var(--font-family-barlow-condensed);
    font-weight: var(--font-weight-700);
}
h1{
    font-size: 50px;
    text-transform: uppercase;
}
h1, span, button{
    text-transform: uppercase;
}
p{
    color: var(--grayish-blue);
    font-family: var(--font-family-barlow);
}
/* ------------------------------------------------- */
/* MENU */
.logo{
    width: 25px;
    height: 25px;
}
.hamburger-toggle{
    display: none;
}

.nav{
    display: flex;  
    flex: wrap;
    justify-content: space-between;
    padding: 24px 14%;
}

.nav-list ul li {
    color: var(--very-dark-blue);
    display: inline;   
    padding: 0 20px;
}

.login{
    color: var(--grayish-blue) !important;
    padding-right: 0px !important;
    padding-left: 0 !important;
}

.login::before{  
    background-color: var(--grayish-blue);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 5px;
    width: 5px;
    margin-right: 20px;
    margin-bottom: 1%;    
}
.nav li:hover{
    text-decoration: underline;
}

/* ------------------------------------------------- */
/* CONTENT */
.content{
 display: flex;
}
.tag-new{
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 5px 13px;
    border-radius: 24% 24% 24% 24% / 50% 50% 50% 50%;
    font-weight: var(--font-weight-700);
}
.text-grey-space{
    color: var(--grayish-blue);
    letter-spacing: 3px;
}
.btn-red{
    background-color: var(--red-primary-color);
    border-radius: 5px;
    color: var(--white);
    padding: 19px 32px;
}


/* ------------------------------------------------- */
/* footer */
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* --------------------------------------------------- */
/* Tablet */
@media( max-width:530px){
    .nav {   
        padding: 24px 7%;
    }
    .nav-list ul li {   
        padding: 0 10px;
    }   
}





/* --------------------------------------------------- */
/* Mobile */
@media(max-width: 375px){
    .nav{
        padding: 24px 32px;
    }
    .nav-list ul{
        display: none;
    }
    .hamburger-toggle{
        display: inline-block;
        vertical-align: middle;
    }
    
}